<div class="container-fluid" style="height: 40px;width:100%;">
  <div class="row justify-content-center">
      <h2 *ngFor="let _data of data">
          {{_data.dayOfWeek}}{{_data.day}}
      </h2>
  </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center" id="addShiftRow" style="margin-top:100px;">
      <h3>Morning</h3>
        <div><i (click)="newUnsavedShift()" class="fas fa-plus"></i></div>
    
      </div>
      <!-- <div class="row justify-content-center" id="addShiftRow" style="margin-top:100px;">
          <h3>Afternoon</h3>

          <div><i (click)="newShift()" class="fas fa-plus"></i></div>
      
        </div>
        <div class="row justify-content-center" id="addShiftRow" style="margin-top:100px;">
            <h3>Evening</h3>

            <div><i (click)="newShift()" class="fas fa-plus"></i></div>
        
          </div> -->
       <div class="row justify-content-center" *ngFor="let shift of filterUnsavedShifts()">Day: {{shift.day}}- Hours {{shift.hours}} Workers Required: {{shift.workersRequired}}</div>
</div>

 





