<div class="container">
  <div class="row">
    <form #roleForm="ngForm">
      <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="_rolesService.selectedRole._id">
      <div class="container container-main">
        <div class="row justify-content-center align-items-center row-parent">
          <div class="col-lg-12">
            <div class="row justify-content-center row-input">
              <div class="col-lg-3">
                <input id="role" name="role" [(ngModel)]="_rolesService.selectedRole.role" class="effect-1" type="text"
                  placeholder="New Role">
                <span class="focus-border"></span>
                <button (click)="saveRole(roleForm)" style="margin-right: 5px;" class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <form #employeeForm="ngForm">
    <div class="container container-roles">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-1 roles" *ngFor="let role of roles" (click)="deleteRole(role._id)">{{role.role}}</div>
      </div>
    </div>
    <!-- employee -->
    <div class="col-lg-4">
      <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="_employeeService.selectedEmployee._id">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" class="form-control" type="text" name="name" #name="ngModel" [(ngModel)]="_employeeService.selectedEmployee.name"
          placeholder="Name">
      </div>
      <div class="form-group">
        <label for="position">Position</label>
        <select id="position" name="position" [(ngModel)]="_employeeService.selectedEmployee.position" class="form-control">
          <option *ngFor="let role of roles">{{role.role}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="hpw">Hours per Week</label>
        <input id="hpw" class="form-control" type="number" name="hpw" #name="ngModel" [(ngModel)]="_employeeService.selectedEmployee.hpw"
          placeholder="Hours Per Week">
      </div>
    </div>
    <div class="container container-aviability">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col" *ngFor="let day of daysOfWeek">{{day}}</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Start:</th>
            <td>
              <select id="monday" name="monday" [(ngModel)]="_employeeService.selectedEmployee.aviability.monday[0]" class="form-control">
                <option *ngFor="let hora of horas">{{hora}}</option>
              </select>
            </td>

            <td>
              <select id="tuesday" name="tuesday" [(ngModel)]="_employeeService.selectedEmployee.aviability.tuesday[0]" class="form-control">
                <option *ngFor="let hora of horas">{{hora}}</option>
              </select>
            </td>

            <td>
              <select id="wednesday" name="wednesday" [(ngModel)]="_employeeService.selectedEmployee.aviability.wednesday[0]" class="form-control">
                <option *ngFor="let hora of horas">{{hora}}</option>
              </select>
            </td>

            <td>
              <select id="thursday" name="thursday" [(ngModel)]="_employeeService.selectedEmployee.aviability.thursday[0]" class="form-control">
                <option *ngFor="let hora of horas">{{hora}}</option>
              </select>
            </td>

            <td>
              <select id="friday" name="friday" [(ngModel)]="_employeeService.selectedEmployee.aviability.friday[0]" class="form-control">
                <option *ngFor="let hora of horas">{{hora}}</option>
              </select>
            </td>

            <td>
              <select id="saturday" name="saturday" [(ngModel)]="_employeeService.selectedEmployee.aviability.saturday[0]" class="form-control">
                <option *ngFor="let hora of horas">{{hora}}</option>
              </select>
            </td>

            <td>
              <select id="sunday" name="sunday" [(ngModel)]="_employeeService.selectedEmployee.aviability.sunday[0]" class="form-control">
                <option *ngFor="let hora of horas">{{hora}}</option>
              </select>
            </td>

          </tr>
          <tr>
            <th scope="row">Finish:</th>
            <td>
                <select id="mondayFinish" name="mondayFinish" [(ngModel)]="_employeeService.selectedEmployee.aviability.monday[1]" class="form-control">
                  <option *ngFor="let hora of horas">{{hora}}</option>
                </select>
              </td>
              <td>
                  <select id="tuesdayFinish" name="tuesdayFinish" [(ngModel)]="_employeeService.selectedEmployee.aviability.tuesday[1]" class="form-control">
                    <option *ngFor="let hora of horas">{{hora}}</option>
                  </select>
                </td>
                <td>
                    <select id="wednesdayFinish" name="wednesdayFinish" [(ngModel)]="_employeeService.selectedEmployee.aviability.wednesday[1]" class="form-control">
                      <option *ngFor="let hora of horas">{{hora}}</option>
                    </select>
                  </td>
                  <td>
                      <select id="thursdayFinish" name="thursdayFinish" [(ngModel)]="_employeeService.selectedEmployee.aviability.thursday[1]" class="form-control">
                        <option *ngFor="let hora of horas">{{hora}}</option>
                      </select>
                    </td>
                    <td>
                        <select id="fridayFinish" name="fridayFinish" [(ngModel)]="_employeeService.selectedEmployee.aviability.friday[1]" class="form-control">
                          <option *ngFor="let hora of horas">{{hora}}</option>
                        </select>
                      </td>
                      <td>
                          <select id="saturdayFinish" name="saturdayFinish" [(ngModel)]="_employeeService.selectedEmployee.aviability.saturday[1]" class="form-control">
                            <option *ngFor="let hora of horas">{{hora}}</option>
                          </select>
                        </td>
                        <td>
                            <select id="sundayFinish" name="sundayFinish" [(ngModel)]="_employeeService.selectedEmployee.aviability.sunday[1]" class="form-control">
                              <option *ngFor="let hora of horas">{{hora}}</option>
                            </select>
                          </td>
          </tr>

        </tbody>
      </table>
      <!-- <div class="row justify-content-center">
            <div class="col-lg-1" *ngFor="let day of daysOfWeek">{{day}}
            </div>
          </div> -->
    </div>


    <button (click)="saveForm(employeeForm)" style="margin-right: 5px;" class="btn btn-primary">Save</button>
    <button (click)="resetForm(employeeForm)" class="btn btn-primary">Reset Form</button>
  </form>
</div>



<div class="divider"></div>


<div class="container-fluid" style="margin-top:100px;">
  <div class="row justify-content-center" style="margin-bottom:50px;">
    <h1>Employees</h1>
  </div>
  <div class="row">


    <div class="col-sm-12 col-md-3" *ngFor="let employee of _employeeService.employees" (click)="updateEmployee(employee)"
      style="margin-bottom:10px;">

      <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <p>Name: {{employee.name}}</p>
          <p>Position: {{employee.position}}</p>
          <p>Hours Per Week: {{employee.hpw}}</p>
          <button class="btn btn-primary" (click)="deleteEmployee(employee._id)">delete</button>



        </div>
      </div>
    </div>
  </div>
</div>