<div class="container-fluid" id="container">
  <div class="bg">

    <div class="row justify-content-around">
      <div class="col-lg-7">
        <div class="logo">
          <img style="width:3em;float:left;" src="assets/skill.svg" alt="">
          <h2 id="h2-logo" style="float:left;padding-top:10px;">Rokmen</h2>
        </div>
        <ul id="ul-header2" class="float-left">
          <li class="li-header2 float-left" (click)="onClickDashboard()">Why us?</li>
          <li class="li-header2 float-left">Products</li>
          <li class="li-header2 float-left">Developers</li>
          <li class="li-header2 float-left">Solutions</li>
        </ul>
      </div>
      <ul id="ul-header" class="float-right">
        <li class="li-header float-left" (click)="loginOnClick()">Log in</li>
        <li class="li-header float-left" (click)="signupOnClick()">Sign up</li>
        <button type="button" class="btn btn-outline-light" id="button-signup">Contact Us</button>
      </ul>
    </div>

      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h1 id="header-title">Looking for a regular Employee Scheduling tool?
            You’re in the wrong place.</h1>
          <p style="color:white;">Rokmen provides the only lopment Platform for builders who require speed,
            flexibility,
            and control - and blah blah......</p>
        </div>
    </div>

    <div class="row justify-content-center" style="margin-top:50px;">
      <div class="col-lg-5 text-center">
          <button id="button-freetrial" type="button" class="btn btn-secondary btn-lg">Start a free trial</button>
          <button id="button-bookdemo" type="button" class="btn btn-outline-light btn-lg">Book a demo</button>

      </div>
    </div>
  </div>
</div>

