.bg{
    width: 100%;
    height: 100%;
    position: absolute;
}

.bg {

-webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 38%, 75% 73%, 0 57%, 0 0);
clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 38%, 75% 73%, 0 57%, 0 0);
background-image: linear-gradient(to right top, #19a3ec, #099af2, #2390f7, #4285f8, #5f77f6, #6d6df5, #7c62f3, #8c54ef, #9349f0, #9b3cf0, #a42aef, #ad00ee);
}
#container{
    position:relative;
    height: 1000px;
    padding-left: 0px;
}

.logo {
    padding-top: 30px;
    padding-left:150px;
    float:left;
    color:white;
}

#h2-logo {
    opacity: 1;
    transition: opacity .10s ease-in-out;
    -moz-transition: opacity .10s ease-in-out;
    -webkit-transition: opacity .10s ease-in-out;

}

#h2-logo:hover{
opacity: 0.7;
cursor: pointer;
}

#ul-header {
    padding-top: 40px;
    padding-right: 200px;
    float:right;
}

.li-header{
    list-style-type: none;
     padding:10px;
     margin-right: 20px;
     color: white;
     font-size:1.2rem;
     cursor:pointer;
     font-weight: 200;
     opacity: 1;
     transition: opacity .25s ease-in-out;
     -moz-transition: opacity .25s ease-in-out;
     -webkit-transition: opacity .25s ease-in-out;

}

.li-header:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);

}

#button-signup {
    margin-top: 5px;
    border-radius: 25px;

  
}



#ul-header2 {
    padding-top: 40px;
}

.li-header2{
    list-style-type: none;
     padding:10px;
     color: white;
     font-size:1.0625rem;
     cursor:pointer;
     font-weight: 200;
     opacity: 1;
     transition: opacity .25s ease-in-out;
     -moz-transition: opacity .25s ease-in-out;
     -webkit-transition: opacity .25s ease-in-out;


}

.li-header2:hover{
    opacity: 0.5;
}

#header-title{
    font-size: 3.25rem;
    line-height: 3.875rem;
    font-weight: 300;
    font-family: Calibre,Calibre,sans-serif;
    font-weight: 300;
    color:white;
    margin-top:150px;

}

#button-freetrial {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: box-shadow 500ms;

    padding-left: 35px;
    padding-right: 35px;
    padding-top:20px;
    padding-bottom:20px;
    margin-right: 45px;
    border-radius: 25em;
    background: white;
    color:#354052;
    font-weight:300;
}



#button-freetrial:hover {
    box-shadow: 5px 10px 50px 5px rgba(0, 0, 0, 0.5);


}

#button-bookdemo{
    padding-left: 35px;
    padding-right: 35px;
    padding-top:20px;
    padding-bottom:20px;
    margin-right: 45px;
    border-radius: 25em;

    background-color: transparent;
  border: 1px solid white;
  border-radius: 50px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: white;
}




#button-bookdemo:hover{
    box-shadow: 1px 1px 1px 1px white inset, 1px 1px 1px 1px white;
    border: 1px solid white;
}

