<div class="container-fluid container-whole-calendar">
  <div class="row justify-content-center">
    <div class="col-lg-12">

     
      <div class="container-fluid container-calendar">
        <div class="row justify-content-center row-header">
          <h1 class="h1-year">2019</h1>
        </div>

        <div class="row justify-content-center align-items-center row-days-setup">
        
          <div class="div-days-setup"><p class="p-days-setup">MON</p></div>
          <div class="div-days-setup"><p class="p-days-setup">TUS</p></div>
          <div class="div-days-setup"><p class="p-days-setup">WED</p></div>
          <div class="div-days-setup"><p class="p-days-setup">THU</p></div>
          <div class="div-days-setup"><p class="p-days-setup">FRI</p></div>
          <div class="div-days-setup"><p class="p-days-setup">SAT</p></div>
          <div class="div-days-setup"><p class="p-days-setup">SUN</p></div>
        </div>
      
        <div class="row row-days" *ngFor="let week of dates">
          <div class="div div-week-days">WEEK {{week.weekNumber}}
              <!-- <p class="p-week-text"></p> -->

          </div>

          <div *ngFor="let day of week.daysInWeek" class="div-days">
           <p> {{day.dayName}}</p>
           <p> {{day.dayNumber}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>