.flex-page {
    display: flex;
    height: 90vh;
    overflow: hidden;
  }
  
  .side-nav {
    background: #343a40;
    padding-top: 1.5rem;
    width:150px;
    position:fixed;
    /* height:34%; */
    margin-top:175px;
    border-radius: 1%;
  
  }
  
  .side-nav ul {
    margin: 0;
    padding: 0;
    /* margin-top:50px; */
  }
  
  .side-nav ul li a {
    padding: .85rem 1.50rem;
    font-size: 0.9rem;
    color: #ECF0F1;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease;
    display: block;
  }
    .side-nav ul li a:hover {
      /* background: #2C3E50; */
      background: #69C861;
      color:#ECF0F1;
  
    }