

<!-- 
  <div class="container-fluid container-week">
    <div class="row row-week justify-content-center align-items-center">
        <div class="col col-week"  *ngFor="let day of week" >{{day.dayName}}</div>

    </div>
  </div> -->
  

  <div class="container">
    <div class="row">
      <div class="col-12 col-week-shifts">
          <table class="table table-hover table-dark">
              <thead>
                <tr>
                  <th *ngFor="let day of week">{{day.dayName}}</th>
               
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td *ngFor="let day of week">
                    <div *ngIf="day.arrayOfShifts">
                        <div  *ngFor="let shift of day.arrayOfShifts">
                          <p style="color:red;word-wrap:break-word;">Shift Hours:{{shift.hours}}</p>
                            <p style="word-wrap:break-word;" *ngFor="let employee of shift.arrayOfWorkers">{{employee.name}}</p>
    
                        </div>
                    </div>
                    
                  </td>
                 
                </tr>
              
               
              </tbody>
            </table>
      </div>
    </div>
  </div>