<div class="row">
  <div class="col-xs-12">
    <form action="" (ngSubmit)="onSubmit($event)">

      <mat-form-field class="mat-form-field">
        <input matInput type="text" placeholder="Usuario" [formControl]="username" required>
        <mat-error *ngIf="username.invalid">{{getErrorMessageForUsername()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="mat-form-field">
          <input matInput matInput type="text" placeholder="Password" [formControl]="password" required>
          <mat-error *ngIf="password.invalid">{{getErrorMessageForPassword()}}</mat-error>
        </mat-form-field>

        <div class="b-submit clearfix">
          <button mat-raised-button color="primary" [disabled]="username.invalid || password.invalid">Entrar</button>
        </div>

    </form>
  </div>
</div>