
* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #ECF0F1;
}

#navbar {
  background-image: linear-gradient(to right, lightgrey , black);

}

#navigation-area {
  padding:0;
}


.flex-page {
  display: flex;
  height: 83vh;
  overflow: hidden;
}

.side-nav {
  background: #343a40;
  padding-top: 1.5rem;
  width:220px;
  border-top:1px solid grey;
}

.side-nav ul {
  margin: 0;
  padding: 0;
  margin-top:50px;
}

.side-nav ul li a {
  padding: 1.55rem 2rem;
  font-size: 1.0rem;
  color: #ECF0F1;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
}
  .side-nav ul li a:hover {
    /* background: #2C3E50; */
    background: #999999;
    color:#ECF0F1;

  }

  .side-nav ul li a:focus {
    background: #ECF0F1;
    color:#343a40;
  }

  /* #footer{
  background-color: #212121;
  height: 60px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  line-height: 50px;
  color: #aaa;
  text-align: center;
  width: 100%;
} */

#footercolor {
  color: #007bff;
}




#footer_coms {
    text-align: center;
    padding: 20px 0 20px 0;
    background-color: #1A1A1D;
}

#footer_coms {
    background: #1A1A1A;
}

#footer_coms, #footer_coms .menu a, #f_social_icons a, #footer_coms #to_top_img {
    color: #DDDDDD;
}

#footer_coms {
    border-top: 1px solid #1A1A1A;
}

.wrapper {
    width: 1170px;
    padding: 0 0px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.f_menu_left {
    float: left;
    /* height: 32px; */
    line-height: 32px;
}



.f_menu_left {
    float: left;
    /* height: 32px; */
    line-height: 32px;
}
#footer_coms .f_si_right {
    float: right;
    padding-left: 30px;
}
#f_social_icons {
    padding: 0;
    float: right;
}

#lin {
    margin: 0;
    position: relative;
    display: inline-block;
    zoom: 1;
    width: 30px;
    height: 30px;
    text-align: center;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#yt {
    margin: 0;
    position: relative;
    display: inline-block;
    zoom: 1;
    width: 30px;
    height: 30px;
    text-align: center;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#twitter {
    margin: 0;
    position: relative;
    display: inline-block;
    zoom: 1;
    width: 30px;
    height: 30px;
    text-align: center;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

}
