<!-- <div class="container-fluid table-container">
  <div class="row justify-content-between">
    <div class="col-lg- cell"></div>
    <div class="col-lg- cell"></div>
    <div class="col-lg- cell"></div>
    <div class="col-lg- cell"></div>
    <div class="col-lg- cell"></div>
    <div class="col-lg- cell"></div>
    <div class="col-lg- cell"></div>
   
    
  </div>
</div> -->

<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Lunes</th>
      <th scope="col">Martes</th>
      <th scope="col">Miercoles</th>
      <th scope="col">Jueves</th>
      <th scope="col">Viernes</th>
      <th scope="col">Sabado</th>
      <th scope="col">Domingo</th>


    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><app-shift></app-shift></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

    </tr>

  </tbody>
</table>