<!-- 

<div class="container-fluid calendar-container">
  <div class="row justify-content-center row-day-setup" >
    <div class="div" style="margin-right:40px;">Setup</div>
    <div class="calendar-day hover-setup" (click)="openModalForSetup(day.name)" *ngFor="let day of daysSetup"> {{day.name}}</div>
   
    <button class="btn btn-primary btn-sm button-apply-setup" (click)="applySetup()">Apply</button>

  </div>
</div>

<div class="container-fluid calendar-container">
  <div class="row justify-content-center" style="margin-top:10px;" *ngFor="let week of daysInYear">
    <div class="div col-week-number">
        week:{{week.weekNumber}}

    </div>

    <div class="calendar-day" [ngClass]="{'inactive': !day, 'today': todayCheck(day), hover: 'hoverIsNotNull(day)'}" *ngFor="let day of week.daysInWeek" (click)="openModal(day)">
        <div class="calendar-day" [ngClass]="{'inactive': !day}" *ngFor="let day of week.daysInWeek" (click)="openModal(day.dayMoment)">
 
      <p>{{day.dayName}}</p>
        <p>{{day.dayNumber}}</p>

    </div>
    <div class="col-lg-1">
       <div *ngIf="week.setupIsApplied"> <button class="btn btn-primary btn-sm" (click)="generateRota(week)">Generate Rota</button></div>
      <div *ngIf="week.isGenerated"><button class="btn btn-success btn-sm" (click)="openViewRotaModal(week)">View Rota</button></div> 


    </div>

  </div>
</div> -->


<div class="container-fluid container-whole-calendar">
    <div class="row justify-content-center">
      <div class="col-lg-8">
  
       
        <div class="container-fluid container-calendar">
          
          <div class="row justify-content-center row-header-year">
            <div class="col-lg-12 text-center col-year-header">
                
                    

                    <h1 class="h1-year"><i class="fas fa-chevron-left chevronYear"></i>{{year}}<i class="fas fa-chevron-right chevronYear"></i></h1>

                

            </div>
          </div>
          <div class="row justify-content-center align-items-center row-header-month">
            <div class="col-lg-1 text-center">
               <i class="fas fa-chevron-left chevron" (click)="getPreviousMonth(daysInYear)"></i>
              </div>
              <div class="col-lg-2 text-center">
                  <h3 class="h3-month text-center">{{month2}}</h3>
              </div>
              <div class="col-lg-1">
                  <i class="fas fa-chevron-right chevron" (click)="getNextMonth(daysInYear)"></i>

              </div>
                

            
         
          </div>
      
  
          <div class="row justify-content-center align-items-center row-days-setup">
            <div class="div-days-setup" (click)="openModalForSetup(day.name)" *ngFor="let day of daysSetup" ><p class="p-centered">{{day.shortName}}</p></div>
            <button class="btn btn-primary btn-sm button-apply" (click)="applySetup()">Apply</button>
            <!-- <button class="btn btn-primary btn-sm button-apply" (click)="resetSetup()">Apply</button> -->


          </div>
        
          <div class="row row-days justify-content-center" *ngFor="let week of daysInMonth">
            <div class="col-lg-1 div div-week-days">
              <div class="rotate">WEEK {{week.weekNumber}}</div>
            </div>
  
            <div *ngFor="let day of week.daysInWeek" class="div-days" (click)="openModal(day.dayMoment)">
             <p class="p-centered"> {{day.dayNumber}}</p>
            </div>
            <div class="col-lg-1 button-generate-div">
              <button *ngIf="week.setupIsApplied" (click)="generateRota(week)" class="btn btn-primary btn-sm button-generate"><i class="fas fa-hammer icon-hammer"></i>Generate</button>
              <button *ngIf="week.isGenerated" (click)="openViewRotaModal(week)" class="btn btn-success btn-sm button-generate"><i class="far fa-eye"></i>View</button>

            </div>
          </div>
         
        </div>
      </div>
      
    </div>
  </div>