.main-container{
    /* height: 200px; */
    width: 100%;
}

.col-horas{
    background-color:cornflowerblue;
    padding:10px;
    
}

.p-horas{
    margin:0px;
    color:antiquewhite;
    font-size:10px;
}

.col-shifts{
    background-color:aliceblue;
}