<div class="flex-page">
    <div class="side-nav">
      <ul>
        <li><a routerLink=""><i class="material-icons">home</i>HOME</a></li>
        <li><a routerLink="employees">Employees</a></li>
        <li><a routerLink="pendingScripts">PENDING SCRIPTS</a></li>
        <li><a routerLink="failedScripts">FAILED SCRIPTS</a></li>
        <li><a routerLink="history">HISTORY</a></li>
        <li><a routerLink="graphs">GRAPHS</a></li>
    
    
      </ul>
    </div>
    <div class="content">
    
    </div>
    </div>
    