<div class="container-fluid">
  <div class="row justify-content-center row-day-setup">
    <div class="col-lg-1 col-day-setup">M</div>
    <div class="col-lg-1 col-day-setup">T</div>
    <div class="col-lg-1 col-day-setup">W</div>
    <div class="col-lg-1 col-day-setup">T</div>
    <div class="col-lg-1 col-day-setup">F</div>
    <div class="col-lg-1 col-day-setup">S</div>
    <div class="col-lg-1 col-day-setup">D</div>

  </div>
  <div class="row row-week justify-content-center" *ngFor="let week of dates">
    <div class="col-lg-1 col-week-number">
      Week:{{week.weekNumber}}
    </div>
    <div class="col-lg-1 col-day" *ngFor="let day of week.daysInWeek">
      <p>{{day.dayName}}</p>
      <p>{{day.dayNumber}}</p>


    </div>
    <div class="col-lg-1">

    </div>
  </div>
</div>