

<!-- 
  <div class="container-fluid container-week">
    <div class="row row-week justify-content-center align-items-center">
        <div class="col col-week"  *ngFor="let day of week" >{{day.dayName}}</div>

    </div>
  </div> -->
  

  <div class="container">
    <div class="row">
      <div class="col-12 col-week-shifts">
          <table class="table table-hover table-dark">
              <thead>
                <tr>
                    <th>Employee</th>

                  <th *ngFor="let day of week">{{day.dayName}}</th>
                  <th>Totals</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let employee of employees">
                  <td>
                    <p style="color:aquamarine">{{employee.name}}</p>
                    <!-- <div *ngFor=""></div> -->
                    <!-- <div *ngIf="day.arrayOfShifts">
                        <div  *ngFor="let shift of day.arrayOfShifts">
                          <p style="color:red;word-wrap:break-word;">Shift Hours:{{shift.hours}}</p>
                            <p style="word-wrap:break-word;" *ngFor="let employee of shift.arrayOfWorkers">{{employee.name}}</p>
    
                        </div>
                    </div> -->
                    
                  </td>
                  <td *ngFor="let shift of employee.empShifts">
                    <!-- <p *ngIf="shift.Monday.shiftHours">Hours: {{shift.Monday.shiftHours}}</p> -->
                    <p *ngIf="shift.Monday.shiftHours">{{shift.Monday.shiftStart}}-{{shift.Monday.shiftFinish}}</p>
                  </td>
                  <td *ngFor="let shift of employee.empShifts">
                      <!-- <p *ngIf="shift.Tuesday.shiftHours">Hours: {{shift.Tuesday.shiftHours}}</p> -->
                      <p *ngIf="shift.Tuesday.shiftHours">{{shift.Tuesday.shiftStart}}-{{shift.Tuesday.shiftFinish}}</p>
                    </td>
                    <td *ngFor="let shift of employee.empShifts">
                        <!-- <p *ngIf="shift.Wednesday.shiftHours">Hours: {{shift.Wednesday.shiftHours}}</p> -->
                        <p *ngIf="shift.Wednesday.shiftHours">{{shift.Wednesday.shiftStart}}-{{shift.Wednesday.shiftFinish}}</p>
                      </td>
                      <td *ngFor="let shift of employee.empShifts">
                          <!-- <p *ngIf="shift.Thursday.shiftHours">Hours: {{shift.Thursday.shiftHours}}</p> -->
                          <p *ngIf="shift.Thursday.shiftHours">{{shift.Thursday.shiftStart}}-{{shift.Thursday.shiftFinish}}</p>
                        </td>
                        <td *ngFor="let shift of employee.empShifts">
                            <!-- <p *ngIf="shift.Friday.shiftHours">Hours: {{shift.Friday.shiftHours}}</p> -->
                            <p *ngIf="shift.Friday.shiftHours">{{shift.Friday.shiftStart}}-{{shift.Friday.shiftFinish}}</p>
                          </td>
                          <td *ngFor="let shift of employee.empShifts">
                              <!-- <p *ngIf="shift.Saturday.shiftHours">Hours: {{shift.Saturday.shiftHours}}</p> -->
                              <p *ngIf="shift.Saturday.shiftHours">{{shift.Saturday.shiftStart}}-{{shift.Saturday.shiftFinish}}</p>
                            </td>
                            <td *ngFor="let shift of employee.empShifts">
                                <!-- <p *ngIf="shift.Sunday.shiftHours">Hours: {{shift.Sunday.shiftHours}}</p> -->
                                <p *ngIf="shift.Sunday.shiftHours">{{shift.Sunday.shiftStart}}-{{shift.Sunday.shiftFinish}}</p>
                              </td>

                              <td *ngFor="let shift of employee.empShifts">
                                  <!-- <p *ngIf="shift.Sunday.shiftHours">Hours: {{shift.Sunday.shiftHours}}</p> -->
                                  <p>hpw:{{employee.hpw}}worked:{{employee.hworked}}</p>
                                </td>

          
                              
                 
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>