<div class="container">


      <!-- <div class="row">
        <div class="col-xs-12 col-lg-1  td">Monday</div>
        <div class="col-xs-12 col-lg-1  td">Tuesday</div>
        <div class="col-xs-12 col-lg-1  td">Wednesday</div>
        <div class="col-xs-12 col-lg-1  td">Thursday</div>
        <div class="col-xs-12 col-lg-1  td">Friday</div>
        <div class="col-xs-12 col-lg-1  td">Saturday</div>
        <div class="col-xs-12 col-lg-1  td">Sunday</div>
  
  
    </div> -->
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Lunes</th>
          <th scope="col">Martes</th>
          <th scope="col">Miercoles</th>
          <th scope="col">Jueves</th>
          <th scope="col">Viernes</th>
          <th scope="col">Sabado</th>
          <th scope="col">Domingo</th>

        </tr>
      </thead>
    </table>
    
      <div class="row">



      
        <div class="col-xs-12 col-lg-1 td">1</div>
        <div class="col-xs-12 col-lg-1  td">2</div>
        <div class="col-xs-12 col-lg-1  td">3</div>
        <div class="col-xs-12 col-lg-1  td">4</div>
        <div class="col-xs-12 col-lg-1  td">5</div>
        <div class="col-xs-12 col-lg-1  td">6</div>
        <div class="col-xs-12 col-lg-1  td">7</div>
  
    </div>
      <div class="row">
        <div class="col-xs-12 col-lg-1 td">8</div>
        <div class="col-xs-12 col-lg-1 td">9</div>
        <div class="col-xs-12 col-lg-1 td">10</div>
        <div class="col-xs-12 col-lg-1 td">11</div>
        <div class="col-xs-12 col-lg-1 td">12</div>
        <div class="col-xs-12 col-lg-1 td">13</div>
        <div class="col-xs-12 col-lg-1 td">14</div>
  
    </div>
      <div class="row">
        <div class="col-xs-12 col-lg-1 td">15</div>
        <div class="col-xs-12 col-lg-1 td">16</div>
        <div class="col-xs-12 col-lg-1 td">17</div>
        <div class="col-xs-12 col-lg-1 td">18</div>
        <div class="col-xs-12 col-lg-1 td">19</div>
        <div class="col-xs-12 col-lg-1 td">20</div>
        <div class="col-xs-12 col-lg-1 td">21</div>
  
    </div>
  
      <div class="row">
        <div class="col-xs-12 col-lg-1  td">22</div>
        <div class="col-xs-12 col-lg-1  td">23</div>
        <div class="col-xs-12 col-lg-1  td">24</div>
        <div class="col-xs-12 col-lg-1  td">25</div>
        <div class="col-xs-12 col-lg-1  td">26</div>
        <div class="col-xs-12 col-lg-1  td">27</div>
        <div class="col-xs-12 col-lg-1  td">28</div>
  
    </div>




</div>



